!.htaccess
.DS_Store
.idea
.vscode
*.log
*.map
*.sublime*
__MACOS*
backup
env.json
node_modules
npm-debug.*
public_admin/js/**/*.js
public_admin/js/**/*.css
public_html/media/**/*.jpg
public_html/media/**/*.png
script.min.js
sprite.min.svg
style.min.css
Thumbs.db
vendor
