<section class="content" id="trainer">
	<h2>О тренере</h2>
	<div class="grid">
		<div class="col">
			<p><img alt="Ведущий мероприятия" src="//shag24.ru/media/people/{{TRAINER.id}}.jpg?version={{ VERSION }}"></p>
		</div>
		<div class="col">
			<h3>{{TRAINER.name}}</h3>
			{{TRAINER.description}}
		</div>
	</div>
</section>
